.hero {
    /* padding-top: 100px; */
    width: 100%;
    height: 100%;
    background-image: url('./grid-header-image-2.svg');
    /* background-size: cover; */
    background-position: center;
    /* background-size: 100%; */
    /* background-position: center; */
    position: relative;
    /* background-repeat: repeat-x; */
    display: flex;
    margin: 0;
    padding: 0;
    /* margin-bottom: 0; */
    /* margin-left: -60px; */
    /* margin: 0 auto; */
}


.typewriter-pic {
    position: absolute;
    display:flex;

   
    
}

.coffee {
    position: absolute;
    margin-top: -340px;
    margin-left: 700px;
}


.book {
    font-family: "American Typewriter",
    serif;
    font-weight: lighter;
    display: flex;
    position: absolute;
    margin-top: -270px;
    margin-left: 170px;
    letter-spacing: 10px;
}

.worm {
    font-family: "American Typewriter",
    serif;
    font-weight: lighter;
    display: flex;
    position: absolute;
    margin-top: -235px;
    margin-left: 170px;
    letter-spacing: 10px;
    
}
