.nyt-bestsellers-container {
    font-family: 'American Typewriter';
    font-weight: lighter;
}

.nyt-bestsellers-container h2 {
    font-family: Georgia, serif;
}

.nyt-bestsellers-container h3 {
    font-family: 'American Typewriter';
    font-weight: lighter;
}